.App{
  width: 100%;
  background-image: radial-gradient(#eff,#cdd);
}
.root{
  width: 100%;
}


html{
  width: 100%;
}
body{
  width: 100%;
}
.home{
  width: 100%;
}


.NavLink{
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 0.2s;
  padding: 10px;
}

.NavLink:hover{
  transform:  scale(1.2,1.2);
}

.noActive{
  color: #fff;
  text-decoration: none;
}
.isActive{
  color: #fff;
  text-decoration: none;
  transform:  scale(1.1,1.1);
}


.btnBlack{
  color: #000;
}
.btnWhite{
  color: #fff;
}
@media screen and (max-width:900px){
  .responsive{
      color: #000;
  }
  
}